//Colors

$colorWhite: #EEEEEE;
$colorGray: #686D76;
//$colorDarkGray: #373A40;
$colorDarkGray: #171717;
$colorDarkPurple: #6B3088;
$colorPurple: #9300DC;

//Fonts

$fontBayon: 'Bayon', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontIBM: 'IBM Plex Sans', sans-serif;